.formSolutions {
    background-color: white;
    border-radius: 8px;
    h1{
        font-size: 30px;
        font-weight: 700;
        color: #1f2937;
        margin-bottom: 1.5rem;
        padding: 3rem;
    }
    form{
        
        input{
            border: 1px solid black;
            border-radius: 8px;
            
        }
    }
}