@import '../../styles/main.scss';

.productCarousel {
    position: relative;
    width: 100%;
    padding: 1rem 40px;

    .carouselContainer {
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        width: 100%;
        
        &::-webkit-scrollbar {
            height: 6px;
        }
        
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
            background: #c1c1c1;
            border-radius: 10px;
        }
    }

    .carouselTrack {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 0.5rem 0;
    }

    .carouselItem {
        flex: 0 0 auto;
        width: clamp(280px, 30vw, 320px);
    }
    .divButtons{
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        justify-content: end;
        .arrow {
            width: 40px;
            height: 40px;
            background: white;
            border: 2px solid #e0e0e0;
            border-radius: 50%;
            cursor: pointer;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;
            z-index: 10;
            background-color: white;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            
            &:hover {
                background: #3498db;
                border-color: #3498db;
                color: white;
            }
            
            &.arrowLeft {
                left: 0px;
            }
            
            &.arrowRight {
                right: 0px;
            }
        }
    }
    
}